


.header {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  background-color: #404040;
  color: white;
  /* background-color: rgba(0,0,0,0.05);*/
  width: 100%;
  box-shadow: 0 3px 30px rgba(0,0,0,0.05), 0 3px 30px rgba(0,0,0,0.1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size:smaller;
}

.tabs {
  display: flex;
}

.tab{
  padding: 1rem;
}

.tab:hover{
  cursor: pointer;
}

.active {
  font-weight:bold;
  border-bottom: 3px solid white;
}

.content{
  margin-top: 2rem;
  overflow: auto;
  height: 100%;
}

.actions i{
  padding: 1rem 1.5rem;
}

.panel {
  display: flex;
  flex-direction: column;
}


@media only screen and (max-width: 1024px) {
  .content {
    margin-top: 1rem;
  }
}
