:host{
  font-size: smaller;
}

.overview{
  padding: 0 1rem;
}
.row {
  display: flex;
  flex-direction:row;
  margin: .5rem;
}

.mainrow {
  display: flex;
  flex-direction:row;
  margin: .5rem;
}

.itemrow {
  display: flex;
  flex-direction:row;
  margin: .5rem;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.label {
  margin-right: .5rem;
  font-weight: bold;
  min-width: 8rem;
}

.span{
  width: auto;
  display: flex;
  align-items: center;
}

img {
  margin-right: .5rem;
}

.value{
  word-break: break-all;
}


.clickable:hover{
  cursor: pointer;
}

@media only screen and (max-width: 500px) {
  .mainrow {
    flex-direction: column;
  }
}
