<div class="header">
  <app-mobile-header (toggle)="toggleSidebar()"></app-mobile-header>
</div>
<div class="main">
  <div class="sidebar" [class.hidden]="!sidebar">
    <app-list [routes]="routes" (activateRoute)="activateRoute($event)" (closeSidebar)="toggleSidebar(false)"></app-list>
  </div>
  <div class="content">
    <app-map [routes]="routes" [activeRouteId]="activeRouteId"></app-map>
  </div>
</div>
<div *ngIf="activeRoute" class="bottompanel">
  <app-bottom-panel [routes]="routes" [activeRouteId]="activeRouteId"></app-bottom-panel>
</div>
