.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  margin:0;
  padding:0;
  display:flex;
}

.content {
  flex: 3;
}

.bottompanel{
  position: absolute;
  bottom: 0;
  right: 2vw;
  width: 76.5vw;
  background-color: #fdfdfd;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.header {
  background-color: #404040;
  color: white;
  border: 0;
  visibility: hidden;
  display: none;
  position:absolute;
  top:0;
  left:0;
  z-index: 999;
  padding: 1rem;
}



@media only screen and (max-width: 1024px) {
  .bottompanel{
    width: 71.5vw;
  }
}


@media only screen and (max-width: 800px) {
  .sidebar {
    position: absolute;
    left: 0;
    z-index: 999;
    top: 0vh;
    height: 100vh;
  }

  .hidden{
    display:none;
  }

  .header{
    visibility: visible;
    display: flex;
    align-items: center;
  }

  .bottompanel{
    width: 97.5vw;
  }
}

