:host{
  height: 100%;
  display:flex;
  flex-direction: column;
  background-color: #fdfdfd;
  font-size: smaller;
}

.list{
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.listcontainer{
  display: flex;
  flex-direction: column;
  width: 20vw;
  overflow:auto;
}

.route{
  background-color: white;
  margin: .5rem;
  padding: 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.route.active .route_title{
  color: #537cfb;
}
.route:hover{
  cursor: pointer;
}

.route_title{
}

.info{
  display: flex;
  margin-top:.5rem;
  font-size: smaller;
  color: #616161;
  flex-wrap: wrap;
}

.info div{
  display:flex;
  margin-right: .5rem;
}

.info div i {
  margin-right: .5rem;
}

.filter {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0rem 1rem;
  font-size: medium;
  background-color: #404040;
  box-shadow: 0 3px 30px rgba(0,0,0,0.05), 0 3px 30px rgba(0,0,0,0.1);
}

.search {
  display: flex;
  align-items: center;
  justify-content: stretch;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.filter input{
  width: 100%;
  margin-right: .5rem;
  padding: .5rem;
  border-radius: 10px;
  border: none;
  font-family: 'Red Hat Text', sans-serif;
}
.filter i {
  color: #616161;
}

.filter div{
  width: 100%;
}


.list {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.actions {
  visibility: hidden;
}

.actions i {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .listcontainer{
    width: 25vw;
  }
}


@media only screen and (max-width: 800px) {
  .listcontainer{
    width: 30vw;
  }

  .actions{
    visibility: visible;
    background-color: #404040;
    color:white;
    display: flex;
    justify-content: flex-end;
    padding: .5rem
  }
}
