<div class="list">
  <div *ngFor="let route of routes" (click)="setActiveRoute(route.id)">
    <div class="route_title">
      {{route.name}}
    </div>
    <div class="info">
      <div>
        <i class="fas fa-ruler-horizontal"></i>
        <span>{{route.ride.distance}}</span>km
      </div>
      <div>
        <i class="fas fa-stopwatch"></i>
        <span>{{route.ride.duration}}</span>
      </div>
      <div>
        <i class="fas fa-arrow-up"></i>
        <span>{{route.ride.ascent}}</span>m
      </div>
      <div>
        <i class="fas fa-arrow-down"></i>
        <span>{{route.ride.descent}}</span>m
      </div>
    </div>
  </div>
</div>
