:host{
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: white;
  z-index: 9999;
  border-radius:10px;
  font-size: smaller;
}

.selection {
  padding: 1rem;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.05), 0 3px 6px rgba(0,0,0,0.1);
  width: 10vw;
}

select {
  width: 100%;
}


h4{
  margin-bottom: .5rem;
  margin-top: 0;
}

.block{
  margin-bottom: 1.5rem;
}

.legendentry{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5rem;
}
.legendentry div {
  display:flex;
}
.legendentry input{
  margin-right: .5rem;
}
.legendentry img{
  margin-left: 1rem;
}


@media only screen and (max-width: 1024px) {
  .selection {
    width: 15vw;
  }
}

@media only screen and (max-width: 800px) {
  .selection {
    width: 20vw;
  }

  :host{
    top: calc(2rem + 5vw);
  }
}

@media only screen and (max-width: 700px) {
  .selection {
    display:none;
  }
}

